<%= flash[:pfupdate] %>

<%= render 'show' %>


<div class="col-md-8 offset-md-1">
  <h2>Books</h2>
  <table class="table table-hover table-inverse">
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Opinion</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th><%#= image_tag book.user.get_profile_image(100,100) %></th>
        <th><%#= book.title %></th>
        <th><%#= book.body %></th>
        <th></th>
      </tr>
    </tbody>
  </table>
</div>




<!--<div>-->
<!--  <h3><%#= @user.name %></h3>-->
<!--  <%#= image_tag @user.get_profile_image(100,100) %>-->
  
<!--</div>-->

<!--<%# @books.each do |book| %>-->
<!--<div>-->
<!--  <%#= link_to book_path(book.id) do %>-->
<!--  <p><%#= image_tag book.user.get_profile_image(100,100) %></p>-->
<!--  <p><%#= book.title %></p>-->
<!--  <p><%#= book.body %></p>-->
<!--  <p><%#= book.user.name %></p>-->
<!--</div>-->
<!--<%# end %>-->