

<% if @book.errors.any? %>
  <%= @book.errors.count %>errors prohibited this obj from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<p id="notice"></p>
<div class="contaier">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1>Editing Book</h1>
      <form action="/books/:id" accept-charset="UTF-8" method="post">
        <input type="hidden" name="_method" value="patch" autocomplete="off">
        <div class="form-group">
          <label for="book_title">Title</label>
          <input class="form-control book_title" type="text" name="book[title]" id="book_title">
        </div>
         <div class="form-group">
          <label for="book_opinion">Opinion</label>
          <textarea class="form-control book_body" name="book[body]" id="book_body"></textarea>
        </div>
         <div class="form-group">
           <input type="submit" name="commit" value="Update Book" class="btn btn-success" data-disable-with="Update Book">
         </div>
      </form>
      <a class="book_id" href="/book/:id">Show</a>
      |
      <a class="back" href="/books">Back</a>
    </div>
  </div>
</div>

<!--<#%= form_with model: @book do |f| %>-->

<!--  <h4>title</h4>-->
<!--  <%#= f.text_field :title %>-->
  
<!--  <h4>opinion</h4>-->
<!--  <%#= f.text_area :body %>-->
  
<!--  <%#= f.submit '保存' %>-->
  
<!--<%# end %>-->
