
<% @books.each do |book| %>

<div>
  <span>
    <%= link_to book.title, "/books/#{book.id}" %>
  </span>
  <!--<p>投稿ユーザー画像：<%#= image_tag 'sample-author1.jpg' %></p>-->
  <p>title：<%= book.title %></p>
  <p>opinion：<%= book.body %></p>
  <p>ユーザーネーム：<%= book.user.name %></p>
</div>
 <% end %>
