<html class="fontawesome-i2svg-active fontawesome-i2svg-complete">
  <head>
    
  </head>
  
  <body>
    
    <main>
      <p id="notice"></p>
      <div class="container">
        <div class="row">
          <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
            <h1>"welcome to "
            <!--<svg class="svg-inline-fa fa-book fa-w-14" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="book" role="img" xmlns="" viewBox="0 0 448 512" data-fa-i2svg>-->
              <i class="fas fa-book"></i>
            <strong>Bookers</strong>
            " !!"</h1>
            <p>In <i class"fas fa-book"></i><strong>Bookers</strong>,</p>
            <p>you can exchange your opinions, inpressions, andemotions</p>
            <p>about various books!</p>
            <div class="btn-wrapper col-10 mx-auto">
              <div class="row">
                <%= link_to new_user_session_path, class:"btn btn-info btn-sm btn-block mb-3" do %>
                Log in
                <% end %>
                <!--<a class="btn btn-info btn-sm btn-block mb-3 sign in" href="/users/sign_in">Log in</a>-->
              </div>
              <div class="row">
                <%= link_to new_user_registration_path, class:"btn btn-success btn-sm btn-block" do %>
                Sign up
                <% end %>
                <!--<a class="btn btn-success btn-sm btn-block sign_up" href="/users/sign_up">Sign up</a>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>